node_modules
npm-debug.log
*.xml

.DS_Store
*.DS_Store
*/*.DS_Store

release

materials

unity/*/Library
unity/*/ProjectSettings
unity/*/Temp

dev/base.local
dev/.htaccess
dev/css/*.css
dev/css/master.css
