#contact {

	.fullwindow();

	article {
		.fullwindow();
		display: flex;
		color: rgba(255, 255, 255, 0.8);
		font-family: @sans;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h3 {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
		}

		a {
			position: relative;
			text-decoration: none;
			text-align: left;
			display: inline-block;
			margin: 0 0 3px 0;
			font-size: 18px;
			transition: color 0.1s ease;

			&.sm {
				font-size: 0.9em;
				font-weight: 700;
			}

			&:not(.sm) {
				font-weight: 700;
				margin-top: 2em;
			}

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 3px;
				bottom: -4px;
				left: 0;
				background-color: #fff;
				transform: scaleX(0.0);

				transition: transform 0.2s ease;
			} 

			.no-touch &:hover {
				color: #fff;
				
				&:after {
					transform: scaleX(1.0);
				}
			}
		}
	}

}