#gallery {

	.fullwindow();

	.photo {
		.fullwindow();
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.next, .prev {
		position: absolute;
		top: 50%;
		width: 48px;
		height: 48px;
		margin: -24px 6px 0 6px;
		cursor: pointer;
		transition: transform 0.2s ease;

		path {
			fill: rgba(255, 255, 255, 0.7);
		}

		&:hover {

			transform: scaleX(1.2) scaleY(1.2);

			path {
				fill: #fff;
			}
		}
	}

	.next {
		right: 0%;
	}

	@media(min-width: 768px) {
		.photo {
			background-size: cover;
		}
		
		.next, .prev {
			margin: -24px 16px 0 16px;
		}
	}
}